[run]
relative_files = True
branch = True
omit =
    *apps.py,
    */migrations/*.py,
    */tests/*,
    */urls.py,
    */settings/*,
    manage.py,
    wsgi.py,
    django_app/settings.py,
    django_app/asgi.py,
    django_app/wsgi.py,

[html]
directory = reports

[report]
exclude_lines =
    pragma: no cover
    def __str__(self):
    attrs = vars(self)
    return '\n'.join('%s: %s' % item for item in attrs.items())