# docker-compose.yml
version: '3.7'

services:
  web:
    build: ./app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    depends_on:
      - db
  db:
    image: postgres:12.0-alpine
    restart: always
    environment:
      - POSTGRES_USER=toastapp
      - POSTGRES_PASSWORD=toastapp
      - POSTGRES_DB=toastapp_dev

volumes:
  postgres-data:
